<section class="header6 cid-sTv6fE9fDb mbr-fullscreen mbr-parallax-background transparent" id="header6-1">
  <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
          LIFE CARE
        </h1>
        <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
          <strong>Welcome to LIFE CARE - The Specialist Clinic </strong>
        </p>
        <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4"
            routerLink="/appointment">Create Appointment</a>
          <a class="btn btn-md btn-white-outline display-4" routerLink="/conference">Join an appointment</a>
        </div>
      </div>
    </div>
  </div>

  <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
    <a style="color: white;">
      <i class="mbri-down mbr-iconfont"></i>
    </a>
  </div>
</section>

<section class="features12 cid-sTvboPbsZH" id="features12-6">
  <div class="container">
    <h2 class="mbr-section-title pb-2 mbr-fonts-style display-2">
      The Specialist Clinic
    </h2>
    <h3 class="mbr-section-subtitle pb-3 mbr-fonts-style display-5">
      WHAT WE DO : Clinic Service
    </h3>

    <div class="media-container-row pt-5">
      <div class="block-content align-right">
        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbr-iconfont mbri-cursor-click"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                Digital Control Center
              </h4>
            </div>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
              To provide support for front-line clinicians during emergency.
            </p>
          </div>
        </div>

        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbr-iconfont mbri-database"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                Hygienic Operating Room
              </h4>
            </div>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
              Operating rooms are taken care well and well equiped.</p>
          </div>
        </div>
      </div>

      <div class="mbr-figure" style="width: 50%;">
        <img src="assets/images/girl-with-lap-982x867.png" alt="" title="">
      </div>

      <div class="block-content align-left  ">
        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbr-iconfont mbri-user"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                Specialist Physicians
              </h4>
            </div>
          </div>

          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
              Our specialist take care of everything.</p>
          </div>
        </div>

        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbr-iconfont mbri-users"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">Online Appointment</h4>
            </div>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
              Book online consultancy or meet with doctors.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section content5 cid-sTv9vkLoNX mbr-parallax-background" id="content5-3">
  <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
  </div>

  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 col-md-8">
        <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
          CONNECT WITH VIDEO
        </h2>
        <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
          <strong>
            With one-click just share and join a meeting to video call with colleagues, patients or doctors.</strong>
        </h3>
        <div class="mbr-section-btn align-center">
          <a class="btn btn-primary display-4" routerLink="/appointment"> Create Appointment </a>
          <a class="btn btn-white-outline display-4" routerLink="/conference"> Join an appointment </a>
        </div>
      </div>
    </div>
  </div>
</section>