<section class="header1 cid-sTMzDoEjZZ mbr-parallax-background" id="header1-e">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
          ABOUT&nbsp;</h1>
        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">online consultancy for
          medical personnels</h3>
        <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
          With this application medical personnel can book and share the meeting/appointment link with other medical
          personnel or patients for live interaction.</p>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section content4 cid-sTMzU3evMb" id="content4-f">
  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 col-md-8">
        <h2 class="align-center pb-3 mbr-fonts-style display-2">
          Developed By</h2>
        <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
          <div><em>Name : <strong> Siraj Ahammed </strong> </em></div>
          <div><em>GitHub :
              <strong> <a href="https://github.com/sirajwebs"> https://github.com/sirajwebs </a> </strong>
            </em></div>
          <div><em>Place : <strong> Amsterdam, Netherlands </strong></em></div>
        </h3>
      </div>
    </div>
  </div>
</section>